/*!
 * Copyright 2020 Ryan E. Anderson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*!
 * Process Form Data Asynchronously Module v0.1.0 Demo Style
 *
 * by Ryan E. Anderson
 *
 * Copyright (C) 2020 Ryan E. Anderson
 */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
}

body {
    font: 16px Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

fieldset {
    border: 1px solid rgb(255, 255, 255);
}

label {
    display: block;
    float: left;
    clear: right;
    width: 46%;
    padding: 8px 2%;
    text-align: left;
}

small {
    font-size: 0.75em;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.25em;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2em;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.75em;
}

h5 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    padding: 2%;
    background-color: rgb(211, 211, 211);
    text-align: left;
    border: 2px dashed transparent;
    outline: 2px dashed rgb(0, 0, 0);
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: rgb(128, 128, 128);
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: rgb(128, 128, 128);
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin: 1em 0;
}

#wrapper {
    display: block;
    width: 960px;
    margin: 0 auto;
}

#input-number-addend-1,
#input-number-addend-2 {
    display: block;
    float: left;
    clear: right;
    width: 46%;
    margin: 0 auto 2%;
    padding: 8px 2%;
    font: 16px/1.618 Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

#output-wrapper {
    float: left;
    clear: right;
    width: 96%;
    padding: 2%;
}

#output-wrapper > .relative > p {
    position: absolute;
    top: 1.5em;
    right: 0;
}

form.form {
    display: block;
    float: left;
    clear: right;
    width: 92%;
    padding: 4%;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}

form.form fieldset {
    padding: 16px;
}

form.form .form-group {
    display: block;
    float: left;
    clear: none;
    width: 100%;
}

.relative {
    position: relative;
}

.golden-line-height {
    line-height: 1.618;
}

.title-body,
.text-body {
    text-align: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.clear-fix {
    clear: both;
}

p.fine-print {
    padding-left: 8px;
    font-family: Verdana, Geneva, sans-serif;
}

p.fine-print.fine-print-center {
    padding: 0;
    text-align: center;
}

.form-control {
    float: right;
    margin-top: 8px;
}

.text-container {
    display: block;
    float: right;
    clear: none;
    width: 100%;
}

div.form-button-wrapper {
    display: block;
    float: left;
    clear: right;
}

button.form-button-right {
    margin-top: 8px;
    margin-left: 8px;
    padding: 8px 16px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    align-items: unset;
}

.primary-button {
    color: rgb(255, 255, 255);
    background-color: rgb(128, 128, 128);
    border: 1px solid rgb(255, 255, 255);
}

.secondary-button {
    background-color: rgb(169, 169, 169);
    border: 1px solid rgb(255, 255, 255);
}

.tertiary-button {
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(255, 255, 255);
}

.warning-background {
    background-color: rgb(255, 255, 0);
}

.success-background {
    background-color: rgb(0, 128, 0);
}

.white-foreground {
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 767px) {
    #wrapper {
        width: 320px;
    }

    #input-number-addend-1,
    #input-number-addend-2 {
        width: 96%;
    }

    label {
        width: 96%;
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    #wrapper {
        width: 736px;
    }
}

@media only screen and (min-width: 1367px) {
    #wrapper {
        width: 960px;
    }
}